@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@font-face {
  font-family: BlackJack;
  src: url("/../../assets/fonts/blackjack.TTF"); }

@font-face {
  font-family: NeutraTextBook;
  src: url("/../../assets/fonts/neutraTextBook.otf"); }

@font-face {
  font-family: NeutraTextBold;
  src: url("/../../assets/fonts/neutraTextBold.otf"); }

@font-face {
  font-family: ChaletLondonSeventy;
  src: url("/../../assets/fonts/chaletLondonSeventy.otf"); }

@font-face {
  font-family: ChaletLondonEighty;
  src: url("/../../assets/fonts/chaletLondonEighty.otf"); }

.blackjack {
  font-family: "BlackJack", sans-serif; }

.chalet-london-seventy {
  font-family: "ChaletLondonSeventy"; }

.chalet-london-eighty {
  font-family: "ChaletLondonEighty"; }

.form-error {
  font-size: 16px !important; }

#contact-selection {
  min-height: 100px;
  width: 648px;
  margin: 0 auto 20px auto; }

#location-preference .selectable-input-image {
  width: 175px;
  min-height: 90px !important; }

#location-preference h3 {
  font-size: 16px; }

.preference-container hr {
  margin-bottom: 10px; }

.selectable-input-image {
  width: 150px;
  min-height: 105px;
  position: relative;
  float: left;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-right: 10px;
  background: white;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #d1cfd1));
  background: -webkit-linear-gradient(-45deg, white 0%, #f6f6f6 47%, #d1cfd1 100%);
  background: -webkit-linear-gradient(315deg, white 0%, #f6f6f6 47%, #d1cfd1 100%);
  background: linear-gradient(135deg, white 0%, #f6f6f6 47%, #d1cfd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cfd1', GradientType=1 ); }

.selectable-logo {
  width: 120px; }

.location-name {
  font-size: 14px !important; }

.selectable-input-image label:hover {
  cursor: pointer; }

.selectable-input-image label {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px; }

.selectable-input-image input {
  position: absolute;
  top: 0;
  right: 0; }

.selectable-input-image h3 {
  text-align: center;
  color: #34282C; }

.contact-icon {
  font-size: 30px;
  font-weight: bold;
  color: #34282C; }

#inquiry-heading {
  margin-top: 40px; }

.fa-check-circle {
  color: darkgreen !important; }

.fa-times {
  color: maroon !important; }

#inquiry-selection, #leasing-selection {
  display: none;
  width: 324px;
  height: 100px;
  margin: 0 auto; }

#inquiry-heading, #leasing-heading {
  display: none; }

#start-form .form-error {
  text-align: center; }

#start-submit {
  display: block;
  margin: 20px auto 0 auto !important;
  width: 200px; }

#email-address, #phone-number {
  display: block; }

.name-container {
  float: left;
  margin-right: 10px; }

.address-container {
  float: left;
  margin: 0 10px 20px 0; }

.reference-detail {
  float: left;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold; }

.preference-header {
  font-size: 18px;
  margin-bottom: 5px; }

#unqualified-link {
  text-align: center;
  margin-top: 40px; }

#unqualified-link a {
  color: maroon;
  font-weight: bold; }

#unqualified-reason {
  display: block; }

.brand-exposure-input {
  margin-bottom: 10px; }

.brand-exposure-input:hover {
  cursor: pointer; }

.progressbar {
  counter-reset: step;
  height: 60px;
  width: 75%;
  margin: 15px auto 30px auto; }

.progressbar li {
  font-family: "Raleway",serif;
  font-weight: bold;
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d; }

.progressbar li:before {
  font-size: 18px;
  width: 25px;
  height: 25px;
  line-height: 22px;
  content: counter(step);
  counter-increment: step;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white; }

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1; }

.progressbar li:first-child:after {
  content: none; }

.progressbar li.active {
  color: #2C4F81; }

.progressbar li.active:before {
  border-color: #2C4F81; }

.progressbar li.active + li:after {
  background-color: #8DCB00; }

/*# sourceMappingURL=createNewCustomer.css.map */
