@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@font-face {
  font-family: BlackJack;
  src: url("/../../assets/fonts/blackjack.TTF"); }

@font-face {
  font-family: NeutraTextBook;
  src: url("/../../assets/fonts/neutraTextBook.otf"); }

@font-face {
  font-family: NeutraTextBold;
  src: url("/../../assets/fonts/neutraTextBold.otf"); }

@font-face {
  font-family: ChaletLondonSeventy;
  src: url("/../../assets/fonts/chaletLondonSeventy.otf"); }

@font-face {
  font-family: ChaletLondonEighty;
  src: url("/../../assets/fonts/chaletLondonEighty.otf"); }

.blackjack {
  font-family: "BlackJack", sans-serif; }

.chalet-london-seventy {
  font-family: "ChaletLondonSeventy"; }

.chalet-london-eighty {
  font-family: "ChaletLondonEighty"; }

body {
  margin: 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  background: whitesmoke; }

select:focus, select:active {
  outline: 0; }

input[type="text"], input[type="email"] {
  border: 1px solid #767E78;
  -webkit-transition: .4s border;
  transition: .4s border;
  font-size: 15px; }

input[type="text"]:hover, input[type="email"]:hover {
  border: 1px solid #343834; }

h1 {
  font-family: NeutraTextBook, serif;
  color: black;
  font-size: 28px;
  margin-bottom: 5px; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0; }

textarea {
  border-radius: 4px;
  border-color: darkgray;
  font-size: 14px; }

input:active, input:focus, textarea:active, textarea:focus {
  outline: 0; }

button {
  color: white;
  background: #3D6DB2 !important;
  text-transform: uppercase;
  padding: 3px 20px 0 20px;
  height: 40px;
  font-size: 14px;
  margin: 10px 10px 0 0 !important;
  box-shadow: 0 5px #27496d !important;
  border: 0 transparent !important;
  border-radius: 4px;
  min-width: 175px;
  -webkit-transition: background-color .4s;
  transition: background-color .4s; }

button:hover {
  cursor: pointer;
  color: white;
  background-color: #417cb8 !important;
  box-shadow: 0 5px #27496d !important; }

button:active, button:focus {
  outline: 0; }

.center {
  text-align: center; }

.clear {
  clear: both; }

.brookside-green {
  color: #B1CC25; }

.brookside-blue {
  color: #3D6DB2; }

.brookside-dark-blue {
  color: #2C4F81; }

.charcoal {
  color: #34282C; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.neutra-bold {
  font-family: "NeutraTextBold"; }

.container {
  width: 90%;
  min-height: 700px;
  margin: 0 auto;
  position: relative; }

.guide-box {
  min-width: 350px;
  min-height: 100px;
  border: 1px dashed black; }

#header {
  text-align: center;
  height: 75px;
  background: url("/../../assets/img/navigation/navigation-background.jpeg") repeat !important;
  background: #3D6DB2;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3d6db2 0%, #2c4e7f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3d6db2 0%, #2c4e7f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6db2', endColorstr='#2c4e7f',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0 3px 3px #888888; }

#header-logo {
  margin: 15px 0 0 10px;
  float: left;
  width: 240px; }

#footer {
  background-color: #34282C;
  height: 120px;
  width: 100%;
  bottom: 0;
  position: relative; }

#footer-logo-container {
  display: block;
  margin: 0 auto 35px auto;
  padding-top: 15px;
  width: 495px; }

#footer-copyright {
  text-align: center;
  color: #B1CC25; }

.footer-logo {
  -webkit-filter: brightness(45%);
  width: 100px;
  margin: 0 10px 0 10px; }

.form-header {
  color: #3D6DB2; }

.form-sub-heading {
  font-size: 22px;
  text-align: center;
  color: #2C4F81; }

.form-errors p {
  color: maroon;
  font-size: 18px;
  font-weight: bold; }

form label {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 16px;
  font-weight: bold; }

form input {
  min-height: 20px;
  min-width: 200px; }

form select {
  min-width: 200px; }

.form-button-container {
  width: 375px;
  margin: 20px auto 0 auto; }

.form-note {
  margin-top: 5px; }

/*# sourceMappingURL=app.css.map */
