// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

//Colors
$black: black;
$white: white;
$error: maroon;
$red: maroon;
$brookside-blue: #3D6DB2;
$brookside-dark-blue: #2C4F81;
$brookside-green: #B1CC25;
$light-gray: lightgrey;
$charcoal: #34282C;

//Percentages
$full: 100%;
$half: 50%;
$quarter: 25%;

//Containers
$container-width: 90%;
$min-container-height: 600px;