@import "../fonts";
@import "../variables";

#contact-selection {
  min-height: 100px;
  width: 648px;
  margin: 0 auto 20px auto;
}

.contact-type {
  width: 150px;
  position: relative;
  float: left;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-right: 10px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,207,209,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(209,207,209,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,207,209,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,207,209,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,207,209,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,207,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cfd1', GradientType=1 );
}

.contact-type label:hover {
  cursor: pointer;
}

.contact-type label {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.contact-type input {
  position: absolute;
  top: 0;
  right: 0;
}

.contact-type h3 {
  text-align: center;
  color: $charcoal;
}

.contact-icon {
  font-size: 30px;
  font-weight: bold;
  color: $charcoal;
}

#inquiry-heading {
  margin-top: 40px;
}

.fa-check-circle {
  color: darkgreen !important;
}

.fa-times {
  color: maroon !important;
}

#inquiry-selection, #leasing-selection {
  display: none;
  width: 324px;
  height: 100px;
  margin: 0 auto;
}

#inquiry-heading, #leasing-heading {
  display: none;
}

#start-submit {
  display: block;
  margin: 20px auto 0 auto !important;
  width: 200px;
}